.component-container {
  height: 50px;
  min-width: 0; // to get rid of horizontal scroll
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  background-color: black;
}

.component-container img {
  height: 20px;
  width: auto;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .component-container {
    height: 60px;
    padding: 0 1rem;
  }

  .component-container img {
    height: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .component-container {
    padding: 0 2rem;
  }

  .component-container img {
    height: 30px;
  }
}
