<div class="component-container">
  <div class="filter">
    <app-catalogue-filter
      (filterChange)="onFilterChange($event)"
    ></app-catalogue-filter>
  </div>

  <div class="catalogue-container">
    <ng-container *ngIf="loading$ | async">
      <div class="empty-state">
        <h1 class="empty-state-text">Loading items...</h1>
      </div>
    </ng-container>

    <ng-container *ngIf="!(loading$ | async)">
      <div
        *ngIf="!(filteredCatalogueItems$ | async)?.length"
        class="empty-state"
      >
        <h1 class="empty-state-text">Items not found</h1>
      </div>

      <div *ngIf="(filteredCatalogueItems$ | async)?.length" class="grid">
        <app-catalogue-item
          *ngFor="let item of filteredCatalogueItems$ | async"
          [item]="item"
        ></app-catalogue-item>
      </div>
    </ng-container>
  </div>
</div>
